version: "3.8"
services:
  app:
    build: .
    container_name: spring-blog-app
    restart: always
    depends_on:
      - mysql-db
    ports:
      - "8080:8080"
    networks:
      - s-network
  mysql-db:
    image: mysql:8.0
    container_name: spring-blog-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spring_website_database
      MYSQL_USER: bloguser
      MYSQL_PASSWORD: blogpass
    ports:
      - "3307:3306"
    networks:
      - s-network
    volumes:
      - mysql-data:/var/lib/mysql

networks:
  s-network:
    driver: bridge

volumes:
  mysql-data: